In [12]:
import pandas as pd

In [13]:
df_anime = pd.read_csv("anime.csv", usecols=["name","genre","rating","members"]).dropna()
df_ratings = pd.read_csv("rating.csv")

In [14]:
df_anime.columns = ["item_name","item_genre", "item_avg_rating", "item_members"]
df_anime.head()

,item_name,item_genre,item_avg_rating,item_members
0,Kimi no Na wa.,"Drama, Romance, School, Supernatural",9.37,200630
1,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",9.26,793665
2,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",9.25,114262
3,Steins;Gate,"Sci-Fi, Thriller",9.17,673572
4,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",9.16,151266

In [15]:
df_anime.to_csv('anime_adj.csv')

In [16]:
df_ratings.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [17]:
df_ratings_neg = df_ratings[df_ratings["rating"] == -1]
df_ratings_pos = df_ratings.copy()
df_ratings_pos["rating"] = df_ratings["rating"].replace(-1, None)
df_ratings_pos = df_ratings.dropna()

In [18]:
df_ratings["rating"].replace({-1:0},inplace=True)
df_ratings.head()

   user_id  anime_id  rating
0        1        20       0
1        1        24       0
2        1        79       0
3        1       226       0
4        1       241       0

In [19]:
df_ratings.to_csv('rating_adj.csv')

In [20]:
categories = []
for i in df_anime.index:
    category = df_anime.loc[i,'item_genre'].split(',')
    for j in range(len(category)):
        categories.append(category[j].strip())
count = pd.Series(categories).value_counts().index.to_list()
count

['Comedy',
 'Action',
 'Adventure',
 'Fantasy',
 'Sci-Fi',
 'Drama',
 'Shounen',
 'Kids',
 'Romance',
 'Slice of Life',
 'School',
 'Hentai',
 'Supernatural',
 'Mecha',
 'Music',
 'Historical',
 'Magic',
 'Ecchi',
 'Shoujo',
 'Sports',
 'Seinen',
 'Mystery',
 'Super Power',
 'Military',
 'Parody',
 'Space',
 'Horror',
 'Harem',
 'Demons',
 'Martial Arts',
 'Dementia',
 'Psychological',
 'Police',
 'Game',
 'Samurai',
 'Vampire',
 'Thriller',
 'Cars',
 'Shounen Ai',
 'Shoujo Ai',
 'Josei',
 'Yuri',
 'Yaoi']