In [33]:
import pandas as pd
import json
from sklearn import preprocessing

In [34]:
# import sys
# import os

# # Get the absolute path of your project directory
# project_dir = os.path.abspath(os.path.join(os.getcwd(), 'udemy','udemy_courses.json'))

# # Add the project directory to sys.path
# sys.path.append(project_dir)
# df_udemy_courses = pd.read_json(project_dir,encoding="utf-8")
# df_udemy_courses['sub_category_title'] = df_udemy_courses['primary_subcategory'].apply(lambda x: x['sub_category_title'])
# df_udemy_courses['category_title'] = df_udemy_courses['primary_category'].apply(lambda x: x['category_title'])
# df_udemy_courses = df_udemy_courses[["course_id","title","description","objectives","num_subscribers","avg_rating","sub_category_title","category_title","instructional_level_simple"]]
# df_udemy_courses["description"] = df_udemy_courses["description"].str.replace('&#34;&lt;p&gt;','')
# df_udemy_courses["objectives"] = df_udemy_courses["objectives"].apply(lambda x: ', '.join(x))
# df_udemy_courses["item_category"] = df_udemy_courses["sub_category_title"] + ", " + df_udemy_courses["category_title"]
# df_udemy_courses = df_udemy_courses.drop(columns=["sub_category_title","category_title","objectives"])

# df_udemy_courses.columns = ["item_id","item_name","description","item_members","item_avg_rating","item_level","item_category"]

# # Get the absolute path of your project directory
# project_dir = os.path.abspath(os.path.join(os.getcwd(), 'udemy','udemy_reviews.json'))

# # Add the project directory to sys.path
# sys.path.append(project_dir)
# df_udemy_reviews = pd.read_json(project_dir,encoding="utf-8")

In [35]:

# df_udemy_reviews.head()
# df_udemy_reviews.to_csv("udemy/udemy_reviews.csv")


# df_udemy_courses.head()
# df_udemy_courses.to_csv("udemy/udemy_courses.csv")

In [36]:
df_udemy_ratings = pd.read_csv("udemy/udemy_reviews.csv",usecols=["course_id","review_id","review_rating"])
df_udemy_ratings.columns=["item_id","user_id","rating"]
df_udemy_ratings

       item_id   user_id  rating
0      3701752  95068444     5.0
1      3701752  78858128     5.0
2      3701752  73928174     5.0
3      3701752  73551404     5.0
4      3702930  91764932     4.0
...        ...       ...     ...
58403  3684408  89010312     5.0
58404  3684408  84656766     5.0
58405  3684408  80354702     5.0
58406  3684408  76052120     5.0
58407  3684408  75740872     5.0

[58408 rows x 3 columns]

In [37]:
df_udemy_courses = pd.read_csv("udemy/udemy_courses.csv",index_col=0).dropna().drop_duplicates()
df_udemy_courses.info()
df_udemy_courses.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   item_id          25 non-null     int64
 1   item_name        25 non-null     object
 2   description      25 non-null     object
 3   item_members     25 non-null     int64
 4   item_avg_rating  25 non-null     float64
 5   item_level       25 non-null     object
 6   item_category    25 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 1.6+ KB

,item_id,item_name,description,item_members,item_avg_rating,item_level,item_category
0,3701926,How to Burn through Emotions,Have you ever wondered how to let go and surre...,4,0.000000,Beginner,"Stress Management, Personal Development"
1,3701752,Scrum Product Owner 1 . prepare for the PSPO I...,Scrum Product Owner 1 practice test course is ...,16,5.000000,Intermediate,"IT Certifications, IT & Software"
2,3702076,Drawing Portraits - The Eye,This is one of my favourite images to draw. Si...,1,0.000000,Beginner,"Arts & Crafts, Lifestyle"
3,3702930,Learn Mixing Fundamental,If you want to improve your song mixes in any ...,582,3.600000,All Levels,"Music Production, Music"
4,3703210,AWS Networking Masterclass - Amazon VPC and Hy...,This &lt;strong&gt;AWS Networking Masterclass&...,27697,4.764706,Beginner,"Network & Security, IT & Software"

In [38]:
df_coursera_courses_1 = pd.read_csv("coursera/Coursera_courses.csv").dropna()
df_coursera_courses_1

,name,institution,course_url,course_id
0,Machine Learning,Stanford University,https://www.coursera.org/learn/machine-learning,machine-learning
1,Indigenous Canada,University of Alberta,https://www.coursera.org/learn/indigenous-canada,indigenous-canada
2,The Science of Well-Being,Yale University,https://www.coursera.org/learn/the-science-of-...,the-science-of-well-being
3,Technical Support Fundamentals,Google,https://www.coursera.org/learn/technical-suppo...,technical-support-fundamentals
4,Become a CBRS Certified Professional Installer...,Google - Spectrum Sharing,https://www.coursera.org/learn/google-cbrs-cpi...,google-cbrs-cpi-training
...,...,...,...,...
618,Accounting Data Analytics with Python,University of Illinois at Urbana-Champaign,https://www.coursera.org/learn/accounting-data...,accounting-data-analytics-python
619,Introduction to Molecular Spectroscopy,University of Manchester,https://www.coursera.org/learn/spectroscopy,spectroscopy
620,Managing as a Coach,"University of California, Davis",https://www.coursera.org/learn/managing-as-a-c...,managing-as-a-coach
621,The fundamentals of hotel distribution,ESSEC Business School,https://www.coursera.org/learn/hotel-distribution,hotel-distribution
622,A Crash Course in Data Science,Johns Hopkins University,https://www.coursera.org/learn/data-science-co...,data-science-course

In [39]:
df_coursera_courses = pd.read_csv("coursera/Coursera.csv").drop_duplicates().dropna()
df_coursera_courses = df_coursera_courses.reset_index(drop=True)
df_coursera_courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3424 entries, 0 to 3423
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Course Name         3424 non-null   object
 1   University          3424 non-null   object
 2   Difficulty Level    3424 non-null   object
 3   Course Rating       3424 non-null   object
 4   Course URL          3424 non-null   object
 5   Course Description  3424 non-null   object
 6   Skills              3424 non-null   object
dtypes: object(7)
memory usage: 187.4+ KB

In [40]:
df_courses = df_coursera_courses.drop(columns="Course URL")
df_courses.columns = ["item_name","uni","item_category","item_avg_rating","item_description","item_skills"]

df_courses = df_courses.drop(df_courses[df_courses["item_avg_rating"]=="Not Calibrated"].index)
df_courses = df_courses.reset_index(drop=True)
df_courses["item_avg_rating"] = df_courses["item_avg_rating"].astype(float)
df_courses.info()
# df_courses.to_csv("courses.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3342 entries, 0 to 3341
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   item_name         3342 non-null   object
 1   uni               3342 non-null   object
 2   item_category     3342 non-null   object
 3   item_avg_rating   3342 non-null   float64
 4   item_description  3342 non-null   object
 5   item_skills       3342 non-null   object
dtypes: float64(1), object(5)
memory usage: 156.8+ KB

In [41]:
df_courses["full_content"] = df_courses["item_description"] + " " + df_courses["item_category"] + " " + df_courses["item_skills"]
df_courses["full_content"][0]

'Write a Full Length Feature Film Script  In this course, you will write a complete, feature-length screenplay for film or television, be it a serious drama or romantic comedy or anything in between. Youll learn to break down the creative process into components, and youll discover a structured process that allows you to produce a polished and pitch-ready script by the end of the course. Completing this project will increase your confidence in your ideas and abilities, and youll feel prepared to pitch your first script and get started on your next. This is a course designed to tap into your creativity and is based in "Active Learning". Most of the actual learning takes place within your own activities - that is, writing! You will learn by doing.  Here is a link to a TRAILER for the course. To view the trailer, please copy and paste the link into your browser. https://vimeo.com/382067900/b78b800dc0  Learner review: "Love the approach Professor Wheeler takes towards this course. It\'s to the point, easy to follow, and very informative! Would definitely recommend it to anyone who is interested in taking a Screenplay Writing course!  The course curriculum is simple: We will adopt a professional writers room process in which youll write, post your work for peer review, share feedback with your peers and revise your work with the feedback you receive from your peers. That\'s how we do it in the real world. You will feel as if you were in a professional writers room yet no prior experience as a writer is required. I\'m a proponent of Experiential Learning (Active Learning). My lectures are short (sometimes just two minutes long) and to the point, designed in a step-by-step process essential to your success as a script writer. I will guide you but I wont "show" you how to write. I firmly believe that the only way to become a writer is to write, write, write.  Learner Review: "I would like to thank this course instructor. It\'s an amazing course"  What youll need to get started: As mentioned above, no prior script writing experience is required. To begin with, any basic word processor will do. During week two, you can choose to download some free scriptwriting software such as Celtx or Trelby or you may choose to purchase Final Draft, the industry standard, or you can continue to use your word processor and do your own script formatting.   Learner Review: "Now I am a writer!"  If you have any concerns regarding the protection of your original work, Coursera\'s privacy policy protects the learner\'s IP and you are indeed the sole owners of your work. Beginner Drama  Comedy  peering  screenwriting  film  Document Review  dialogue  creative writing  Writing  unix shells arts-and-humanities music-and-art'

In [42]:
# from sentence_transformers import SentenceTransformer

# model = SentenceTransformer('all-MiniLM-L6-v2')
# courses_embeddings = model.encode(df_courses["full_content"])

In [43]:
# import joblib
# joblib.dump(courses_embeddings,"../Assets/courses_embeddings.pkl")

['../Assets/courses_embeddings.pkl']

In [44]:
df_coursera_ratings = pd.read_csv("coursera/Coursera_reviews.csv",usecols=["reviewers","course_id","rating"])
df_coursera_ratings.columns=["user_id","rating","item_id"]
df_coursera_ratings.head()

          user_id  rating                   item_id
0     By Robert S       4  google-cbrs-cpi-training
1  By Gabriel E R       4  google-cbrs-cpi-training
2      By Jacob D       4  google-cbrs-cpi-training
3       By Dale B       4  google-cbrs-cpi-training
4       By Sean G       4  google-cbrs-cpi-training

In [45]:
df_ratings = pd.concat([df_coursera_ratings,df_udemy_ratings])

lbl_user = preprocessing.LabelEncoder()
lbl_item = preprocessing.LabelEncoder()

df_ratings["user_id"] = df_ratings["user_id"].astype(str)
df_ratings["item_id"] = df_ratings["item_id"].astype(str)


df_ratings.user_id= lbl_user.fit_transform(df_ratings[["user_id"]].values)
df_ratings.item_id = lbl_user.fit_transform(df_ratings[["item_id"]].values)

df_ratings.info()
df_ratings.head()

# df_ratings.to_csv('ratings.csv')

c:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1513119 entries, 0 to 58407
Data columns (total 3 columns):
 #   Column   Non-Null Count    Dtype
---  ------   --------------    -----
 0   user_id  1513119 non-null  int32
 1   rating   1513119 non-null  float64
 2   item_id  1513119 non-null  int32
dtypes: float64(1), int32(2)
memory usage: 34.6 MB

c:\Users\defaultuser0.LAPTOP-POTNR7PE\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\preprocessing\_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

   user_id  rating  item_id
0   200172     4.0      267
1    80105     4.0      267
2   101595     4.0      267
3    53728     4.0      267
4   215457     4.0      267

In [46]:
categories = []
for i in df_courses.index:
    category = df_courses.loc[i,'item_category'].split(',')
    for j in range(len(category)):
        categories.append(category[j].strip())
categories = pd.Series(categories).value_counts().index.to_list()
categories.insert(0,"All")
categories

['All', 'Beginner', 'Advanced', 'Intermediate', 'Conversant', 'Not Calibrated']